page-form {

    .btn{
   
        margin-left: 40%;
        margin-top: 20%;
    
    }

    .btn2{

        margin-left: 40%;
        margin-bottom: 30%;
        


    }



    .list{
   margin-top: 40%;

    }
    

}
